# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.BlazorAssignment.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Flavius-Alin\RiderProjects\BlazorAssignment\.idea\.idea.BlazorAssignment\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
